pa/doc.json
.gitignore
*.pyc
scjd_django/db.sqlite3
scjd_django/uploads
scjd_django/chart_data/migrations/*.py
!scjd_django/chart_data/migrations/__init__.py
--pycache--
**/--pycache--
*.pyc
scjd_django/.idea
